<nav class="pv3 ph3 ph6-ns fixed bg-white bg-transparent z-max db dt-l w-100 border-box">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-50-l tc tl-l mb2 mb0-l" href="/" title="Home">
    <img src="/images/bollenbach1.png" alt="" class="w-50"><br>
  </a>
  <div class="db dtc-l v-mid w-100 w-50-l tc tr-l">
    {{ if .Site.Menus.main }}
      <ul class="pl0 mh0">
        {{ range .Site.Menus.main }}
        <li class="list f5 f4-ns fw4 dib ph3-ns">
          <a class="link dim dark-gray f6 f3-ns dib ml3 ttl" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
    {{ partial "social-follow.html" . }}
  </div>
</nav>