{{ define "main" }}
  <article class="cf">
    <div class="fl w-100 w-100-ns tc pt4 pb5 ph6 ">
      <h1 class="f1 fw1 dib v-mid">
        I'm a Shopify Expert that specializes in building unique e-commerce experiences for brands of all sizes.
      </h1>
      <h2 class="f3 fw2">
        Store setups, theme customization, private/public app development, and more.
      </h2><br>
      <a class="f3 fw1 link dim br1 ph3 pv2 mb2 dib white bg-green" href="/contact">Get In Touch</a>
    </div>
    {{ range first 5 (where .Data.Pages "Section" "in" (slice "projects")) }}
      <div class="fl w-50 w-25-ns">
        <a href="{{ .URL }}" class="db aspect-ratio aspect-ratio--1x1 dim">
          <span role="img" aria-label="{{ .Title }}" alt="{{ .Title }}" style="background-image:url('{{ .Params.thumbnail }}');" class="bg-center cover aspect-ratio--object"></span>
        </a>
      </div>
    {{ end }}
  </article>
{{ end }}