{{ define "main" }}
  <article class="cf">
    <div class="fl w-100 w-100-ns tc pt4 pb5 ph6 ">
      <h1 class="f1 fw1 dib v-mid">
        I'm a Shopify Expert that specializes in building unique e-commerce experiences for brands of all sizes.
      </h1>
      <h2 class="f3 fw2">
        Store setups, theme customization, private/public app development, and more.
      </h2><br>
      <a class="f3 fw1 link dim br1 ph3 pv2 mb2 dib white bg-green" href="/contact">Get In Touch</a>
    </div>
    <div class="fl w-50 w-25-ns">
      <a href="https://www.amazon.com/Woman-2LP-Set-Full-Album/dp/B01LX3E0ET/ref=sr_1_1?s=music&ie=UTF8&qid=1480422119&sr=1-1&keywords=justice&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Woman - Justice" style="background-image:url('/images/willow.png');" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
    <div class="fl w-50 w-25-ns">
      <a href="https://www.amazon.com/Skin-Flume/dp/B01DD5N35W/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480422133&sr=1-1&keywords=flume&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Skin - Flume" style="background-image:url('/images/mama-muse.png');" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
    <div class="fl w-50 w-25-ns">
      <a href="https://www.amazon.com/Woman-2LP-Set-Full-Album/dp/B01LX3E0ET/ref=sr_1_1?s=music&ie=UTF8&qid=1480422119&sr=1-1&keywords=justice&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Woman - Justice" style="background-image:url('/images/zarabelle.jpg');" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
    <div class="fl w-50 w-25-ns">
      <a href="https://www.amazon.com/Skin-Flume/dp/B01DD5N35W/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480422133&sr=1-1&keywords=flume&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Skin - Flume" style="background-image:url(http://mrmrs.github.io/photos/flume.jpg);" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
    <div class="fl w-50">
      <a href="https://www.amazon.com/Seat-at-Table-Solange/dp/B01LXP7I5N/ref=sr_tnr_p_1_195429011_1_twi_lp__3?s=music&ie=UTF8&qid=1480422087&sr=1-1&keywords=solange+seat+at+the+table&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Seat at Table Solange" style="background-image:url(http://mrmrs.github.io/photos/solange.jpg);" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
    <div class="fl w-50 w-25-ns">
      <a href="https://www.amazon.com/untitled-unmastered-LP-Kendrick-Lamar/dp/B01DET9BV2/ref=sr_1_3_twi_lp__3?s=music&ie=UTF8&qid=1480370912&sr=1-3&keywords=kendrick+lamar&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Untitled Unmastered - Kendrick Lamar" style="background-image:url(http://mrmrs.github.io/photos/untitledunmastered.jpg);" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
    <div class="fl w-100 w-25-ns">
      <a href="https://www.amazon.com/Moon-Shaped-Pool-2-LP-Download/dp/B01FDF12UI/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480370971&sr=1-1&keywords=moon+shaped+pool&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Moon Shaped Pool 2" style="background-image:url(http://mrmrs.github.io/photos/moonshapedpool.jpg);" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
    <div class="fl w-50 w-25-ns">
      <a href="https://www.amazon.com/Colour-Anything-2-LP/dp/B01F8674B8/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480371036&sr=1-1&keywords=color+in+anything&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Colour Anything 2" style="background-image:url(http://mrmrs.github.io/photos/colouranything.jpg);" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
    <div class="fl w-50 w-25-ns">
      <a href="https://www.amazon.com/Good-Luck-Do-Your-Best/dp/B01C3IHINI/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480371123&sr=1-1&keywords=good+luck+gold+panda&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Good Luck Do Your Best" style="background-image:url(http://mrmrs.github.io/photos/goldpanda.jpg);" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
    <div class="fl w-100 w-50-m w-25-ns">
      <a href="https://www.amazon.com/32-Levels-Clams-Casino/dp/B01GU83I4K/ref=sr_1_2_twi_lp__1?s=music&ie=UTF8&qid=1480371183&sr=1-2&keywords=clams+casino&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="32 Levels Clams Casino" style="background-image:url(http://mrmrs.github.io/photos/clamscasino.jpg);" class="bg-center cover aspect-ratio--object"></span>
      </a>
      <a href="https://www.amazon.com/Danny-Brown-Atrocity-Exhibition-Exclusive/dp/B01M9F0LSQ/ref=sr_1_2?ie=UTF8&qid=1480421198&sr=8-2&keywords=danny+brown+vinyl&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Danny Brown Atrocity Exhibition Exclusive" style="background-image:url(http://mrmrs.github.io/photos/dannybrown.jpg);" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
    <div class="fl w-100 w-50-m w-25-l">
      <div class="fl w-100">
        <a href="https://www.amazon.com/Human-Energy-MACHINEDRUM/dp/B01HC7UTBI/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480371226&sr=1-1&keywords=human+energy&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
          <span role="img" aria-label="Human Energy - Machinedrum" style="background-image:url(http://mrmrs.github.io/photos/humanenergy.jpg);" class="bg-center cover aspect-ratio--object"></span>
        </a>
      </div>
      <div class="fl w-100">
        <div class="fl w-50">
          <a href="https://www.amazon.com/Moodymann-DJ-Kicks-DJ-KICKS/dp/B01AEOM6D0/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480371894&sr=1-1&keywords=dj+kicks+moodymann&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
            <span role="img" aria-label="Moodymann - DJ Kicks" style="background-image:url(http://mrmrs.github.io/photos/moodyman.jpg);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-50">
          <a href="https://www.amazon.com/Stranger-Things-Netflix-Original-Soundtrack/dp/B01KA4MVF2/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480423240&sr=1-1&keywords=stranger+things&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
            <span role="img" aria-label="Stranger Things Netflix Original Soundtrack" style="background-image:url(http://mrmrs.github.io/photos/strangerthings.jpg);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-50">
          <a href="https://www.amazon.com/How-Be-Human-Being-LP/dp/B01GQ7DIJA/ref=tmm_vnl_swatch_0?_encoding=UTF8&qid=1480421224&sr=8-1&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
            <span role="img" aria-label="How Be Human Being LP" style="background-image:url(http://mrmrs.github.io/photos/glassanimals.jpg);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
        <div class="fl w-50">
          <a href="https://www.amazon.com/22-Million-Bon-Iver/dp/B01KBKVK2K/ref=sr_tnr_p_6_195212011_1_twi_lp__3?s=music&ie=UTF8&qid=1480422776&sr=1-6&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
            <span role="img" aria-label="22 Million - Bon Iver" style="background-image:url(http://mrmrs.github.io/photos/boniver.jpg);" class="bg-center cover aspect-ratio--object"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="fl w-100 w-50-l">
      <a href="https://www.amazon.com/Malibu-Anderson-Paak/dp/B01BXNXBAS/ref=sr_1_1_twi_lp__3?s=music&ie=UTF8&qid=1480422041&sr=1-1&keywords=paak&tag=mrmrs01-20" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" aria-label="Malibu -  Anderson Paak" style="background-image:url(http://mrmrs.github.io/photos/paak.jpg);" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>
  </article>

  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>
  {{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
  {{ $mainSections := .Site.Params.mainSections | default (slice "projects") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{/* Check to see if the section is defined for ranging through it */}}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}

    <div class="pa3 pa4-ns w-100 w-70-ns center">
      {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
       {{ with .Site.GetPage "section" $section_name }}
          <h1 class="flex-none">
            Recent {{ .Title }}
          </h1>
        {{ end }}

      {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

      <section class="w-100 mw8">
        {{/* Range through the first $n_posts items of the section */}}
        {{ range (first $n_posts $section) }}
          <div class="relative w-100 mb4">
            {{ partial "summary-with-image.html" . }}
          </div>
        {{ end }}
      </section>

      {{ if ge $section_count (add $n_posts 1) }}
      <section class="w-100">
        <h1 class="f3">More</h1>
        {{/* Now, range through the next four after the initial $n_posts items. Nest the requirements, "after" then "first" on the outside */}}
        {{ range (first 4 (after $n_posts $section))  }}
          <h2 class="f5 fw4 mb4 dib mr3">
            <a href="{{ .URL }}" class="link black dim">
              {{ .Title }}
            </a>
          </h2>
        {{ end }}

        {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
        {{ with .Site.GetPage "section" $section_name }}
          <a href="{{ .URL }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">All {{.Title }}</a>
        {{ end }}
        </section>
      {{ end }}

      </div>
  {{ end }}
{{ end }}
