{{ define "main" }}
  <article class="cf pa2 pa0-ns">
    <div class="f4 fl-ns w-100 w-100-ns tl pt4-ns pb5-ns ph6-ns">
      <h1 class="fw1 dib v-mid fw4 black-80">
        <a href="https://experts.shopify.com/patrick-bollenbach" target="_blank" class="sl-red fw5">Shopify Expert</a> developer based out of Canada & Singapore specializing in building unique e-commerce experiences for brands of all sizes.
      </h1>
      <h2 class="f2 fw1 black-70 pb4">
        Shopify store setups, theme customization, private/public app development, and more.
      </h2>
      <a class="f2 link dim ba bw2  b--sl-blue ph3 pv2 mb2 dib black-90" href="/projects">View All Projects +</a>
      <a class="f2 link dim ba bw2 ph3 pv2 mb2 dib sl-red" href="/contact">Contact</a>
    </div>

    {{ range first 4 (where .Data.Pages.ByWeight "Section" "in" (slice "projects")) }}
    <div class="fl w-100 w-50-ns pa3">
      <a href="{{ .Permalink }}" class="dim db no-underline black shadow-5"><img class="db w-100 vh-50-ns" src="{{ .Params.thumbnail }}"></a>
    </div>
  {{ end }}
  </article>
{{ end }}