{{ define "main" }}
  <main class="cf pa2">
      <div class="fl w-100 w-50-ns ph2">
        <!-- Featured Projects Go Here -->
        {{ range where .Data.Pages "Section" "in" (slice "projects") }}
          {{ if in .Params.tags "featured" }}
          <a href="{{ .Permalink }}" class="pv2 grow db no-underline black"><img class="db w-100" src="{{ .Params.thumbnail }}"></a>
          {{ end }}
        {{ end }}
      </div>
        <!-- Non Featured Projects Go Here -->
        {{ range where .Data.Pages "Section" "in" (slice "projects") }}
          {{ if not (in .Params.tags "featured") }}
          <div class="fl w-50 w-25-ns ph2">
            <a href="{{ .Permalink }}" class="pv2 grow db no-underline black"><img class="db w-100" src="{{ .Params.thumbnail }}"></a>
          </div>
          {{ end }}
        {{ end }}
  </main>
{{ end }}
