{{ define "main" }}
  <article class="bg-white">
      <article class="bg-white">
        <div class="vh-75 cover bg-center" style="background-image: url({{- .Thumbnail -}});"></div>
        <div class="ph4 ph5-m ph6-l">
          <div class="pv5 f4 f2-ns measure center">
            <h1 class="fw6 f1 fl w-100 black-70 mt0 mb3 avenir">{{- .Title -}}</h1>
            <p class="db lh-copy black-50 serif fw4 mv0 f4 f3-m f2-l measure">
              {{- .Content -}}
            </p>
          </div>
          <div class="cf mw8 center">
            <div class='fl w-33 w-50-m w-33-l pr2 pr2-l'>
              <div class="pv6 cover bg-center" style="background: url(http://mrmrs.github.io/photos/002.jpg);"></div>
            </div>
            <div class='fl w-33 w-50-m w-33-l ph3 pr0-m ph3-l'>
              <div class="pv6 cover bg-center" style="background-image: url(http://mrmrs.github.io/photos/003.jpg);"></div>
            </div>
            <div class='fl w-33 w-100-m w-33-l pl2 pl0-m pl2-l mt4-m'>
              <div class="pv6 cover bg-center" style="background-image: url(http://mrmrs.github.io/photos/004.jpg);"></div>
            </div>
          </div>
        </div>
      </article>
    <section class="cf mt5 pt5 bt b--black-05 ph6-l">
      <h1 class="tc f5 ttu fw6 tracked mb4 avenir">Other Projects</h1>
      <a href="#0" class="fl w-third w-25-ns border-box overflow-hidden ba bw2 white" title="">
        <div class="grow cover bg-center pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/hw-080411-cargo_960.jpg);"></div>
      </a>
      <a href="#0" class="fl w-third w-25-ns border-box overflow-hidden  ba bw2 white" title="">
        <div class="grow cover bg-top pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/hwspringtour-cargo_960-1.jpg);"></div>
      </a>
      <a href="#0" class="fl w-third w-25-ns border-box overflow-hidden ba bw2 white" title="">
        <div class="grow cover bg-top pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/cc010611.s_960.jpg);"></div>
      </a>
      <a href="#0" class="fl w-100 w-25-ns border-box overflow-hidden ba bw2 white" title="">
        <div class="grow cover bg-top pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/adam-stern-031209_960-2.jpg);"></div>
      </a>
      <a href="#0" class="fl w-50 border-box overflow-hidden ba bw2 white" title="">
        <div class="grow cover bg-center pv5 pv7-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/zh170311.4.cargo_960.jpg);"></div>
      </a>
      <a href="#0" class="fl w-50 border-box overflow-hidden ba bw2 white" title="">
        <div class="grow cover bg-center pv5 pv7-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/hw090911_960.jpg);"></div>
      </a>
    </section>
  </article>
{{ end }}