{{ define "main" }}
  <article class="bg-white w-100 pt3">
    <!-- <div class="fl dn-m w-100-l">
        <div class="vh-25 cover bg-center" style="background-image: url({{- .Params.thumbnail -}}); background-attachment: fixed;"></div>
    </div> -->
    <div class="fl w-100 ph4">
      <div class="f4 f2-ns tc">
        <h1 class="f1 fl w-100 black-70 mt0 mb3 ">{{- .Title -}}</h1>
        <p class="db lh-copy black-50 serif fw4 mv0 f4 f3-m f2-l measure">
          {{- .Content -}}
        </p>
        <a class="f4 fw5 link dim ba ph3 bw2 pv3 mb2 dib sl-red w-50 tc" target="_onclick" href="{{ .Params.project_url }}">Visit Site</a>
      </div>
    </div>
  </article>
{{ end }}